
.titulopjssecun{
    
    height: 100px;
    margin: 5%;
    margin-top: 0;
    margin-bottom: 0%;

    display: grid;

    justify-content: center;
    align-items: center;

    font-family: sans-serif;

}

.titulopjsprincipales{
    
    height: 100px;
    margin: 5%;
    margin-top: 0;
    margin-bottom: 0%;

    display: grid;

    justify-content: center;
    align-items: center;

    font-family: sans-serif;
}


.primer_personaje{
    background-color: #474545;
    display: block;
    /*align-items: center;
    justify-content: center;*/
    margin: 0 auto;
}

@media screen and (max-width: 850px){
    .primer_personaje {
        flex-direction: row;
    }

}


.article_txt{
    font-family: 'Nunito', sans-serif;
    padding: 10px 25px;
}

.article_img {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.segundo_personaje{
    background-color: #474545;
    display: grid;
    align-items: center;
    justify-content: center;
    
}

.segundo_personajesecun{
    background-color: #474545;
    display: grid;
    align-items: center;
    justify-content: center;

}


.tercer_personaje{
    background-color: #474545;
    display: grid;
    align-items: center;
    justify-content: center;
}

.tercer_personajesecun{
    background-color: #474545;
    display: grid;
    align-items: center;
    justify-content: center;
}

.quinto_personajesecun{
    background-color: #474545;
    display: grid;
    align-items: center;
    justify-content: center;
}

.cuarto_personaje{
    background-color: #474545;
    display: grid;
    align-items: center;
    justify-content: center;
}

.cuarto_personajesecun{
    background-color: #474545;
    display: grid;
    align-items: center;
    justify-content: center;
}


.quinto_personaje{
    background-color: #474545;
    display: grid;
    align-items: center;
    justify-content: center;
}

.sexto_personaje{
    background-color: #474545;
    display: grid;
    align-items: center;
    justify-content: center;
}

.septimo_personaje{
    background-color: #474545;
    display: grid;
    align-items: center;
    justify-content: center;
}

